---
import Banner from "../components/Banner";
import Card from "../components/Card.jsx";
import Carousel from "../components/carousel/Carousel";
import CarouselCell from "../components/carousel/CarouselCell.astro";
import Message from "../components/Message";
import Home from "../components/page-comps/Home";
import Layout from "../layouts/Layout.astro";

let haikus = await Astro.glob("../content/haiku/*.md");
haikus = haikus.sort((a, b) => {
  return (
    new Date(b.frontmatter.date).getTime() -
    new Date(a.frontmatter.date).getTime()
  );
});
let miscPosts = await Astro.glob("../content/misc/*.md");
miscPosts = miscPosts.sort((a, b) => {
  return (
    new Date(b.frontmatter.date).getTime() -
    new Date(a.frontmatter.date).getTime()
  );
});
let stories = await Astro.glob("../content/short-stories/*.md");
stories = stories.sort((a, b) => {
  return (
    new Date(b.frontmatter.date).getTime() -
    new Date(a.frontmatter.date).getTime()
  );
});
let animes = await Astro.glob("../content/anime/*.md");
animes = animes.sort((a, b) => {
  return (
    new Date(b.frontmatter.date).getTime() -
    new Date(a.frontmatter.date).getTime()
  );
});
---

<Layout title="misc | Home">
  <meta
    name="description"
    content="Check out Short Stories, haikus, anime discussions and more!"
    slot="head-slot"
  />
  <meta
    name="keywords"
    content="Short stories, writing, essay, Haiku, Fiction, Flash fiction, Anime"
    slot="head-slot"
  />
  <meta name="author" content="misc" slot="head-slot" />
  <Home client:load>
    <Banner client:load />
    <Message client:load header="Checkout anime posts">
      <Carousel client:load>
        {
          animes.map((anime) => {
            const { title, href, thumbnail, date } = anime.frontmatter;
            const { Content } = anime;

            return (
              <CarouselCell>
                <Card
                  date={date}
                  title={title}
                  href={href}
                  thumbnail={thumbnail}
                  client:load
                >
                  <Content />
                </Card>
              </CarouselCell>
            );
          })
        }
      </Carousel>
    </Message>

    <Message client:load header="Check out haikus!">
      <Carousel client:load>
        {
          haikus.map((haiku) => {
            const { title, href, date } = haiku.frontmatter;
            const { Content } = haiku;

            return (
              <CarouselCell>
                <Card date={date} title={title} href={href} client:load>
                  <Content />
                </Card>
              </CarouselCell>
            );
          })
        }
      </Carousel>
    </Message>

    <Message client:load header="Checkout miscellaneous discussions">
      <Carousel client:load>
        {
          miscPosts.map(({ frontmatter, Content }) => {
            const { thumbnail, date, href, title } = frontmatter;

            return (
              <CarouselCell>
                <Card
                  date={date}
                  title={title}
                  href={href}
                  thumbnail={thumbnail}
                  client:load
                >
                  <Content />
                </Card>
              </CarouselCell>
            );
          })
        }
      </Carousel>
    </Message>

    <Message client:load header="Checkout short stories">
      <Carousel client:load>
        {
          stories.map(({ frontmatter, Content }) => {
            const { title, date, href } = frontmatter;
            return (
              <CarouselCell>
                <Card date={date} title={title} href={href} client:load>
                  <Content />
                </Card>
              </CarouselCell>
            );
          })
        }
      </Carousel>
    </Message>
    <!-- <div class="section">
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Animi est maiores
      ullam accusamus voluptate iusto, soluta nostrum optio officia. Laborum
      voluptates numquam beatae, voluptate suscipit deserunt dolor eos nam
      voluptatem culpa, nostrum earum reprehenderit delectus minus quasi quia
      cum explicabo, et excepturi. Et voluptate in error temporibus facere ex
      molestiae aspernatur, cumque, itaque voluptatum autem? Autem unde animi
      cum quo minima deserunt pariatur reprehenderit incidunt odio? Optio
      doloribus eligendi quam molestiae! Asperiores minus soluta necessitatibus
      corporis dolorum quia cumque eius vero non at cupiditate excepturi harum
      est, sunt dignissimos perspiciatis assumenda consectetur ab ex quae fugit
      sequi laboriosam ratione dolore?
    </div> -->
  </Home>
</Layout>
