---
import Breadcrumbs from "./Breadcrumbs.astro";
import { breadcrumbs } from "../funcs/crumbs";
const { title, thumbnail, href, date } = Astro.props;
---

<style>
  .custom-a {
    color: rgb(255, 125, 50) !important;
  }
  .custom-active {
    color: rgb(199, 197, 211) !important;
  }
</style>
<div>
  {
    href && (
      <Breadcrumbs>
        {breadcrumbs(href, title).map((crumbObj) => {
          return (
            <li>
              <a
                class={crumbObj.active ? "custom-active" : "custom-a"}
                href={crumbObj.link}
              >
                {crumbObj.path}
              </a>
            </li>
          );
        })}
      </Breadcrumbs>
    )
  }
  <div class="container">
    <time
      class="is-inline-block m-1 p-2"
      style="border-radius: 5px;font-size: x-small;background-color: black;color:#fff"
      datetime={date}
    >
      {new Date(date).toDateString()}
    </time>
    {
      title && (
        <p class="is-block has-text-weight-bold is-size-3-tablet is-size-5-mobile mb-6">
          {title}
        </p>
      )
    }
    {
      thumbnail && (
        <div class="my-6">
          <figure class="image mb-5 is-3by1">
            <img src={thumbnail} style="object-fit: scale-down;" alt="" />
          </figure>
        </div>
      )
    }
    <div class="content is-size-5-tablet is-size-6-mobile">
      <slot />
    </div>
  </div>
</div>
